.about-title-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.about-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.3rem;
    font-weight: normal;
    margin: 1rem;
    text-align: center;
    border: 4px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
}

.about-header {
    font-family: ReemKufiInk;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 5rem 5rem 2rem 5rem;
}

.about-text {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 2rem 5rem 2rem 5rem;
}

