@font-face {
    font-family: ReemKufiInk;
    src: url(../fonts/ReemKufiInk-Regular.ttf);
}

.bd1-title-wrapper {
    text-align: center;
    margin-top: 2rem;
}


.bd1-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.bd1-album-image {
    width: 20rem;
    height: auto;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
}

.bd1-album-section {
    display: flex; /* aligns items in row */
    align-items: flex-start; /* all items stick to left */
    gap: 5rem;
    margin: 5rem;
}

.bd1-album-info {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
}

.bd1-tracklist-title {
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.bd1-tracklist-songs {
    font-family: ReemKufiInk;
    font-size: 2rem;
}

.bd1-tracklist-description {
    font-family: ReemKufiInk;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 15rem;
}

.bd1-tracklist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7rem;
}

.bd1-tracklist-section {
    display: flex;
    align-items: flex-start;
    gap: 10rem;
}

.given-taken::after {
    content: "\2605"
}

.bd1-ca-title-wrapper {
    text-align: center;
    margin-top: 7rem;
}

.bd1-ca-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}