@font-face {
    font-family: ReemKufiInk;
    src: url(../fonts/ReemKufiInk-Regular.ttf);
}

.bd1-title {
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    margin-left: 36rem;
    margin-right: 36rem;
    padding: 5px;
    margin-top: 3rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.bd1-album-image {
    width: 20rem;
    height: auto;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    margin-top: 4rem;
    margin-left: 10rem;
}

.bd1-info1 {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
    margin-left: 37rem;
    margin-right: 9rem;
    margin-top: -21rem;
}

.bd1-info2 {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
    margin-left: 37rem;
    margin-right: 9rem;
    margin-top: 2rem;
}

.bd1-info3 {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
    margin-left: 37rem;
    margin-right: 9rem;
    margin-top: 2rem;
}

.bd1-tracklist-title {
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    margin-left: 10rem;
    margin-right: 68rem;
    margin-top: 10rem;
    padding: 5px;
}

.bd1-tracklist {
    font-family: ReemKufiInk;
    font-size: 2rem;
    margin-left: 10rem;
    margin-top: 3rem;
}

.bd1-tracklist-description {
    font-family: ReemKufiInk;
    text-align: center;
    margin-left: 50rem;
    margin-top: -14rem;
    margin-right: 15rem;
    font-size: 1.8rem;
}