@font-face {
    font-family: PixelifySans;
    src: url(./fonts/PixelifySans-VariableFont_wght.ttf);
}

.title {
    margin: 1rem;
    text-align: center;
}

.text {
    font-family: PixelifySans;
    font-size: 1.7rem;
    text-align: center;
    border: 4px solid black;
    padding: 10px;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 3rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}