* {
    box-sizing: border-box;
}

@font-face {
    font-family: PixelifySans;
    src: url(./fonts/PixelifySans-VariableFont_wght.ttf);
}

@font-face {
    font-family: MartianMono;
    src: url(./fonts/MartianMono-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    background-image: url(./assets/navbar_bg.jpeg);
    background-position: center -15rem;
    background-size: cover;
    background-repeat: no-repeat; /* prevents image from tilting */
    height: 20rem;
    color: white;
    display: flex;
    justify-content: space-between; /* move all flex items to top of container */
    align-items: flex-start; /* move all flex items to top of container */
    gap: 2rem;
    padding: 2rem;
}

.nav a.site-title {
    font-family: PixelifySans;
    font-size: 3.5rem;
    margin-top: 10rem; /* add space above elememnt */
    margin-left: 1rem;
    background-color: white;
    height: max-content;
    width: max-content;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    color: black;
}

.nav ul {
    font-family: MartianMono;
    top: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 0.5rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav li.active {
    text-decoration: underline;
}

.nav li:hover {
    text-decoration: underline;
}
