.given-taken-title-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.given-taken-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    padding: 5px 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.given-taken-info-section {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    margin: 5rem;
}

.given-taken-info {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
}

.lyrics-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
}

.given-taken-lyrics {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
}

.given-taken-lyrics-section {
    margin-top: 10rem;
    margin-left: 5rem;
}

.jungwon-image {
    width: 30rem;
    height: auto;
    border-radius: 50%;
}