.given-taken-title-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.given-taken-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    padding: 5px 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.given-taken-info-section {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    margin: 5rem;
}

.given-taken-info {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
}

.lyrics-title {
    display: inline-block;
    font-family: PixelifySans;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    border: 4px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 5px 20px;
}

.given-taken-lyrics {
    font-family: ReemKufiInk;
    font-weight: normal;
    font-size: 1.7rem;
}

.given-taken-lyrics-section {
    display: flex;
    margin-top: 10rem;
    margin-left: 5rem;
    gap: 4rem;
}

.gt-jungwon-line {
    width: 18rem;
    height: 10px;
    margin-top: 5rem;
    border-radius: 10px;
    background-color: #EF6B6B;
}

.gt-heeseung-line {
    width: 34rem;
    height: 10px;
    margin-top: 19rem;
    border-radius: 10px;
    background-color: #EF6B6B;
}

.gt-jay-line {
    width: 10rem;
    height: 10px;
    border-radius: 10px;
    margin-top: 19rem;
    background-color: #EF6B6B;
}

.gt-jake-line {
    width: 12rem;
    height: 10px;
    border-radius: 10px;
    margin-top: 19rem;
    background-color: #EF6B6B;
}

.gt-sunghoon-line {
    width: 15rem;
    height: 10px;
    border-radius: 10px;
    margin-top: 19rem;
    background-color: #EF6B6B;
}

.gt-sunoo-line {
    width: 13rem;
    height: 10px;
    border-radius: 10px;
    margin-top: 19rem;
    background-color: #EF6B6B;
}

.gt-ni-ki-line {
    width: 9rem;
    height: 10px;
    border-radius: 10px;
    margin-top: 19rem;
    background-color: #EF6B6B;
}

.given-taken-lines {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}